<h1>Nova Análise</h1>
<form method="post">
    Nome: <input type="text" name="nome"><br>
    Responsável: <input type="text" name="responsavel"><br>
    Data: <input type="date" name="data"><br>
    Status:
    <select name="status">
        <option>Aguardando liberação</option>
        <option>Em andamento</option>
        <option>Em análise</option>
        <option>Finalizado</option>
    </select><br>
    Tipo de Avaliação: <input type="text" name="tipo"><br>
    Intenção de Compra (1-5): <input type="number" name="intencao" min="1" max="5"><br>
    <input type="submit" value="Salvar">
</form>